<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NYCSchools.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0FE0A59D855AE309A7E0A63BF9C5894DA502C534</string>
				<key>dateExpires</key>
				<string>5/8/25</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0FE0A59D855AE309A7E0A63BF9C5894DA502C534</string>
						<key>dateExpires</key>
						<string>5/8/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VDXKAYGU93</string>
						<key>name</key>
						<string>HISOFT VIET NAM JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>5.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0FE0A59D855AE309A7E0A63BF9C5894DA502C534</string>
						<key>dateExpires</key>
						<string>5/8/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VDXKAYGU93</string>
						<key>name</key>
						<string>HISOFT VIET NAM JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0FE0A59D855AE309A7E0A63BF9C5894DA502C534</string>
						<key>dateExpires</key>
						<string>5/8/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PureLayout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VDXKAYGU93</string>
						<key>name</key>
						<string>HISOFT VIET NAM JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>3.1.9</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>VDXKAYGU93.com.longnn.fitness-logging</string>
				<key>com.apple.developer.team-identifier</key>
				<string>VDXKAYGU93</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>NYCSchools.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>79937598-e9e4-4052-bbeb-c14342822aa5</string>
				<key>dateExpires</key>
				<string>22/8/25</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.longnn.fitness-logging</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>VDXKAYGU93</string>
				<key>name</key>
				<string>HISOFT VIET NAM JOINT STOCK COMPANY</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
